{% extends './template/template.html' %}

{% block page_content %}
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-md-12 col-sm-12 col-xs-12' style="padding:15px;">
				<h1 class="header">Checkbox</h1>

<h2>Default <small>inside a <code>.form-group</code></small></h2>
<div class="form-group">
  <div class="checkbox">
    <label>
      <input type="checkbox"> Notifications
    </label>
  </div>
  <p class="help-block">Notify me about updates to apps or games that I've downloaded</p>
</div>
<div class="form-group">
  <div class="checkbox">
    <label>
      <input checked="" type="checkbox"> Auto-updates
    </label>
  </div>
  <p class="help-block">Auto-update apps over wifi only</p>
</div>

<h2>Horizontal form with column label variations</h2>
<form class="form-horizontal">
  <div class="form-group">
    <label class="col-sm-2" for="ch1">Touch sounds</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input id="ch1" checked="" type="checkbox">
        </label>
      </div>
      <p class="help-block">This shows the generic label variant.</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-sm-2 control-label" for="ch3">Vibrate on touch</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input id="ch3" type="checkbox">
        </label>
      </div>
      <p class="help-block">This shows the <code>control-label</code> variant.</p>
    </div>
  </div>
</form>

<h2>Default <small>outside a <code>.form-group</code></small></h2>
<div class="checkbox">
  <label>
    <input type="checkbox"> Notifications
  </label>
</div>
<p class="help-block">Without a <code>.form-group</code>, <code>.help-block</code> always shows</p>
<div class="checkbox">
  <label>
    <input checked="" type="checkbox"> Auto-updates
  </label>
</div>
<p class="help-block">Without a <code>.form-group</code>, <code>.help-block</code> sizing is the same as the <code>label</code></p>
			
	
	<h1 class="header">Input
  <small><a href="http://www.google.com/design/spec/components/text-fields.html">specification</a></small>
</h1>

<div class="inputs">
  <h2>Input label styles
    <small>default sizing</small>
  </h2>

  <div class="form-group label-static">
    <label for="i2" class="control-label">label-static</label>
    <input class="form-control" id="i2" placeholder="placeholder attribute" type="email">

    <p class="help-block">This is a hint as a <code>p.help-block.hint</code></p>
  </div>

  <div class="form-group label-floating">
    <label for="i5" class="control-label">label-floating</label>
    <input class="form-control" id="i5" type="email">
    <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
  </div>

  <div class="form-group label-placeholder">
    <label for="i5p" class="control-label">label-placeholder</label>
    <input class="form-control" id="i5p" type="email">
    <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
  </div>

  <form>
    <div class="form-group">
      <label for="i5ps" class="control-label col-sm-2">Column label</label>

      <div class="col-sm-10">
        <input class="form-control" id="i5ps" placeholder="placeholder attribute" type="email">
        <span class="help-block">This is a hint as a <code>span.help-block.hint</code></span>
      </div>
    </div>
  </form>
  <br>
  <br>

  <h2>Input - floating labels
    <small>form-group sizing</small>
  </h2>
  <div class="form-group form-group-sm label-floating">
    <label for="i4" class="control-label">Email address form-group-sm</label>
    <input class="form-control" id="i4" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <div class="form-group label-floating">
    <label for="i5i" class="control-label">Email address default size</label>
    <input class="form-control" id="i5i" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <div class="form-group form-group-lg label-floating">
    <label for="i6" class="control-label">Email address form-group-lg</label>
    <input class="form-control" id="i6" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <h2>Input - static labels
    <small>form-group sizing</small>
  </h2>

  <div class="form-group form-group-sm label-static">
    <label for="si4" class="control-label">Email address form-group-sm</label>
    <input class="form-control" id="si4" placeholder="Placeholder" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <div class="form-group label-static">
    <label for="si5i" class="control-label">Email address default size</label>
    <input class="form-control" id="si5i" placeholder="Placeholder" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <div class="form-group form-group-lg label-static">
    <label for="si6" class="control-label">Email address form-group-lg</label>
    <input class="form-control" id="si6" placeholder="Placeholder" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <h2>Input - no labels
    <small>form-group sizing</small>
  </h2>

  <div class="form-group form-group-sm">
    <label for="si4n" class="control-label">Email address form-group-sm</label>
    <input class="form-control" id="si4n" placeholder="Placeholder" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <div class="form-group">
    <label for="si5in" class="control-label">Email address default size</label>
    <input class="form-control" id="si5in" placeholder="Placeholder" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <div class="form-group form-group-lg">
    <label for="si6n" class="control-label">Email address form-group-lg</label>
    <input class="form-control" id="si6n" placeholder="Placeholder" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>


  <h2>Input -
    <small>floating label feedback variants</small>
  </h2>
  <div class="form-group has-success label-floating">
    <label for="f1" class="control-label">Email address has-success</label>
    <input class="form-control" id="f1" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <div class="form-group has-warning label-floating">
    <label for="f2" class="control-label">Email address has-warning</label>
    <input class="form-control" id="f2" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>

  <div class="form-group has-error label-floating">
    <label for="f3" class="control-label">Email address has-error</label>
    <input class="form-control" id="f3" type="email">
    <span class="help-block">Please enter a valid email address</span>
  </div>


  <h2>Input - Legacy</h2>
  <!-- Exercise backwards compatibility without form-group -->
  <input class="form-control floating-label" placeholder="Legacy floating label as placeholder attribute" data-hint="This is a hint using a legacy <code>data-hint</code> attribute on the input" type="text">

  <h2>Textarea</h2>

  <div class="form-group label-floating">
    <label for="t1" class="control-label">Floating label</label>
    <textarea id="t1" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <textarea class="form-control" placeholder="placeholder without label"></textarea>
  </div>

  <!-- legacy markup -->
  <textarea class="form-control floating-label" placeholder="legacy floating label as placeholder"></textarea>

  <h2>Validation</h2>

  <div class="form-group label-floating">
    <label for="111" class="control-label">email</label>
    <input class="form-control" id="111" type="email">
  </div>
  <div class="form-group label-floating">
    <label for="222" class="control-label">number</label>
    <input class="form-control" id="222" type="number">
  </div>

  <h2>Disabled</h2>

  <div class="form-group label-floating">
    <label for="333" class="control-label">email</label>
    <input disabled="" class="form-control" id="333" type="text">
  </div>
  <div class="form-group label-floating">
    <label for="444" class="control-label">number</label>
    <input disabled="" class="form-control" id="444" type="text">
  </div>

  <h2>Hints</h2>

  <div class="form-group label-floating">
    <label for="555" class="control-label">label</label>
    <input class="form-control" id="555" type="text">

    <p class="help-block">Some helpful hint</p>
  </div>
  <div class="form-group label-floating">
    <label for="676" class="control-label">label</label>
    <input class="form-control" id="676" type="email">

    <p class="help-block">A valid email contains an @ character</p>
  </div>


  <h2>Styling</h2>

  <div class="form-group has-success">
    <input class="form-control" placeholder="placeholder" type="text">
  </div>
  <div class="form-group has-success label-floating">
    <label for="777" class="control-label">floating label</label>
    <input class="form-control" id="777" type="text">
  </div>
</div>
			</div>
		</div>
	</div>
{% endblock %}